* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat';
}
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  line-height: 2.2;
  margin: 0;
  padding: 0;
}

.calendesk-frame {
  width: 100%;
  display: block;
  border: none;
  max-width: 1280px;
  margin: 0 auto;
}

/* .active {
  display: block;
  transition: ease-in 0.3s;
}
.hidden {
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: ease-out 0.3s;
} */

@media only screen and (max-width: 767px) {
  .calendesk-frame {
    height: 1000px;
  }
}
@media only screen and (min-width: 768px) {
  .calendesk-frame {
    height: 700px;
  }
}
